<!DOCTYPE html>
<html>
<head>
	<title>更多页面</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="style/base.css" type="text/css"/>
    <link rel="stylesheet" href="style/common.css" type="text/css"/>
	<script src="http://192.168.0.110:8081/target/target-script-min.js#anonymous"></script>
</head>
<body class="bg-gray">
	<section id="container" class="container">
		<header id="header" class="cf">
			<section class="top-defalt cf">
				<h1 id="logo" class="logo">
					北京大秦汇通商贸有限公司
				</h1>
				<div id="top-menu" class="top-menu">
					<div class="icon-bar"></div>
					<div class="icon-bar"></div>
					<div class="icon-bar"></div>
				</div>
			</section>
			<nav id="top-menu-content" class="top-menu-content h0">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="more.html">酒品人生</a></li>
					<li><a href="gift_more.html">礼品定制</a></li>
					<li><a href="news_list.html">资讯中心</a></li>
					<li><a href="about_us.html">关于我们</a></li>
					<li><a href="contact_us.html">联系我们</a></li>
				</ul>
			</nav>
		</header>

		<nav class="nav wraper">
			<ul>
				<li><a href="more.html"><i class="drinks-icon"></i><strong>酒品人生</strong></a></li>
				<li><a href="gift_more.html"><i class="gift-icon"></i><strong>礼品定制</strong></a></li>
				<li><a href="news_list.html"><i class="news-icon"></i><strong>资讯中心</strong></a></li>
				<li><a href="contact_us.html"><i class="contact-icon"></i><strong>联系我们</strong></a></li>
			</ul>
		</nav>
		
		<section class="module-list wraper">
			<section class="hd cf">
				<h2>最新资讯</h2>
			</section>
			<section class="bd">
				<ol class="news-list cf">
					<li>
						<a href="article.html">
							<p>新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</p>
							<div class="cf news-title-info">
								<div class="fl read-count">
									本文阅读次数：<span>1223</span>
								</div>
								<div class="fr">
									2014年6月6日
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="article.html">
							<p>新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</p>
							<div class="cf news-title-info">
								<div class="fl read-count">
									本文阅读次数：<span>1223</span>
								</div>
								<div class="fr">
									2014年6月6日
								</div>
							</div>
						</a>
					</li>
					<li>
						<a href="article.html">
							<p>新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</p>
							<div class="cf news-title-info">
								<div class="fl read-count">
									本文阅读次数：<span>1223</span>
								</div>
								<div class="fr">
									2014年6月6日
								</div>
							</div>
						</a>
					</li>
				</ol>
			</section>
		</section>
		
		<footer id="footer" class="wraper">
			<a href="//13999999999">13999999999</a>
			<p>Copyright © 北京大秦汇通商贸有限公司 </br>Powered by: 大秦汇通</p>
		</footer>
	</section>
	<script src="js/zepto.min.js"></script>
	<script>
	
		$(function(){
			$("#top-menu").tap(function(){
				$("#top-menu-content").toggleClass("h0");
			});
			
		});
	
		 

	</script>
</body>
</html>